.DS_Store
*.class

bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

# Package Files #
*.jar
*.war
*.ear

*.pyc

/tmp/*
/lib/
/logs
/precompile
/javadoc
/nbproject
/.idea/workspace.xml
/node_modules

*.iml
*.ipr
*.iws

modules/
.idea/
/test-result/

/.classpath
/.project
/.settings/
/eclipse/
/precompiled/
